html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px; /* want nav bar flush */
}

nav.lesson {
  display: inline-block;
  /* For IE7 */
  /*zoom: 1;*/
  /* Trigger hasLayout */
  /*width: 32%;*/
  text-align: center;
  width: 100%;
  background-color: #ffc627aa;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

nav.index {
  background-color: #ffc627aa;
  padding: 1em;
}

nav>button {
    vertical-align: top;
  padding: 4px 32px;
  margin: 4px;
  width: 155px;
  height: 50px;
  font-size: 16px;
  text-align: center;
  background-color: #efefef;
}

button:disabled {
  background-color: #efefef;
  padding: 4px 32px;
  width: 150px;
  height: 50px;
  font-size: 16px;
  text-align: center;
}

div#main {
  margin: 20px;
}

ol#lesson {
    /*
  counter-reset: li;
  list-style: none;
  */
  margin: 0px;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::marker */
/* https://www.w3.org/Style/Examples/007/color-bullets.en.html */
/*
ol#lesson>li::marker {
    content: counter(li);
    color: red;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
*/

ol#lesson>li {
    /*counter-increment: li;*/
    padding-bottom: 8px;
    padding-left: 12px;
}

/* border color cribbed from BJC */
ol#lesson>li>p, .forYouToDo {
    /*counter-increment: li;*/
    border-style: solid;
    border-color: #62c213;
    border-width: 2px;
    border-left-width: 20px;
    padding: 8px;
    margin: 16px 0px;
    background-color: #62c21322;
}

/* Inline text to be formatted as Snap! code */
code {
    font-weight: bold
}
code.motion { color: #3A53CA }
code.looks { color: #7B39DD }
code.sound { color: #BF53D3 }
code.pen { color: #469F7B }
code.control { color: #DDAA43 }
code.sensing { color: #4192D6 }
code.operators { color: #7AC03E }
code.variables { color: #ff6200 }
