html {
  height: 100%;
  width: 100%;
}

.container>div {
  display: inline-block;
  /* For IE7 */
  zoom: 1;
  /* Trigger hasLayout */
  width: 32%;
  text-align: center;
}

.button {
  padding: 4px 32px;
  width: 150px;
  height: 50px;
  font-size: 16px;
  text-align: center;
}